body {
    font-family: 'Alegreya', 'Hoefler Text', Times, Serif;
    background: #f0f0f0;
}

a:hover {
    color: #ff4a14;
}

.textCenter {
    text-align: center;
}

/* header */
#primary-menu {
    padding-left: 0%;
    font-family: 'Alegreya SC';
}

#headerAbout {
    padding-left: 40px;
}

#headerAbout p {
    color: #fff;
}

#headerContact a {
    /* border-bottom: 1px solid #eeeeee2e; */
}

.hidden {
    display: none;
}

#ChangeToggle {
    margin-right: 30px;
}


.sidebar .form-control {
    padding-left: 2.375rem;
}

.sidebar .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.sidebar .input-group-append .doSearch {
    background: #007bff;
    border-color: #007bff;
}


.bg-white {
    background: #fff;
}

.bg-dark {
    background-color: #00264c !important;
}

.nav-link {
    color: #989898;
    font-size: 18px;
    font-family: 'Alegreya SC';
}

.nav-item {
    border-right: 1px solid #efefef91;
    padding-right: 6px;
}

.dropdown-menu {
    border-radius: 0;
    border: none;
    box-shadow: -1px 0px 3px 2px #ddd;
}

.myToggler {
    color: #686868;

}

.myToggler:active {
    outline: none;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler {
    padding-right: 0% !important;
}
.navbar-toggler-icon{
    color: #686868;
}
/* end header */





/* home content */
.allposts {
    margin-top: 1.5rem !important;
}

.main-content {
    margin-top: 100px;
}

/* post type one */
.postDetailsTypeOne {
    width: 100%;
    float: left;
}

.postDetailsTypeOne .postTitle {
    font-family: 'Alegreya SC';
    font-size: 22px;
    /* font-weight: bold; */
    line-height: 26px;
    text-align: center;
}

.postDetailsTypeOne .publishDate {
    float: right;
    font-family: 'Alegreya SC';
    font-style: italic;
}

.postContentTypeOne {
    /* width: 70%;
    float: right; */
}

.postContentTypeOne p {
    text-align: justify;
    padding-left: 25px;


}

.postContentTypeOne .readMore {
    color: #007bff;
    font-weight: bold;
    float: right;
}

.postContentTypeOne .readMore:hover {
    color: #ff4a14;
}

.category{
    position: relative;
}
.catList{
    position: absolute;
    top: 10px;
    background: #00000038;
}
.catList ul{
    padding: 5px 12px 5px 30px;
    margin: 0%;
}
.catList ul li{
    display: inline;
    list-style: none;
}
.catList ul, .catList ul a{
    color: #fff;
}
.catList ul li i{
    padding-right: 3px;
    font-size: 13px;
}
/* end post type one */

.thumbnail {
    max-width: 100%;
}

.postDetails {
    width: 30%;
    float: left;
    margin-right:25px;
}

.postDetails .postTitle {
    font-family: 'Alegreya SC';
    font-size: 22px;
    /* font-weight: bold; */
    line-height: 26px;
    text-align: right;
}

.postDetails .publishDate {
    float: right;
    font-family: 'Alegreya SC';
    font-style: italic;
}

.postContent {
    /* width: 70%;
    float: right; */
}

.postContent p {
    text-align: justify;
    padding-left: 25px;


}

.postContent .readMore {
    color: #007bff;
    font-weight: bold;
    float: right;
}

.postContent .readMore:hover {
    color: #ff4a14;
}

.clear {
    clear: both;
}

.author {
    min-width: 30%;
    font-style: italic;
    font-family: 'Alegreya SC'
}


.shareLink a {
    padding-left: 5px;
}

.social h4 {
    position: relative;
    overflow: hidden;
    text-align: right;
    font-size: 16px;
    display: inline-block;
    padding-left: 100px;
}

.social h4 span {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    position: relative;
    padding: 0 5px;
}

.social h4 span:before {
    content: '';
    display: block;
    width: 1300px;
    position: absolute;
    top: 0.5em;
    border-top: 1px solid #bbbbbb;
}

.social h4 span:before {
    right: 100%;
}

.shareLink {
    float: right;
    /* text-align: right !important; */
    width: 66%;
    padding-left: 0 !important;
}

/* end home content */



/* comment */
.cmtBtn {
    border: 1px solid rgba(0, 0, 0, .125);
    background-color: #ffffff;
    padding: 12px 24px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.cmtBtn:hover {
    border-color: #ff4a14;
}

.form-control:focus {
    border-color: #ff4a14;
    box-shadow: none;

}

.userInfo {
    display: inline-flex;
}

.userInfo img {
    width: 48px;
    height: 48px;
}

.userInfo a {
    display: inherit;
    padding-left: 10px;
}

.commentBody {
    border: 1px solid #ddd;
    padding: 16px;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 20px;
}

.commentBody.respons {
    margin-left: 68px;
}

.liksItem {
    border: 1px solid #ddd;
    display: inline-block;
    margin-right: 15px;
}

.liksItem i {
    margin-right: 8px;
    font-size: 12px;
}

/* end comment */

/* full width */
.fullWidth .postDetailsTypeOne {
    width: 30% !important;
    padding-left: 25px;
    padding-right: 25px;
}

.fullWidth .postDetailsTypeOne .postTitle {
    text-align: right !important;

}

.fullWidth .postDetailsTypeOne .publishDate {
    float: right !important;
}

.fullWidth .shareLink {
    width: 70%;
}

.fullWidth .author {
    padding-right: 20px;
}

/* end full width */


/* archive page */

.archive .postContent,
.archive .postDetails {
    width: 100%;
}

.archive .postDetails .postTitle {
    text-align: center;
}

.archive .social h4 {
    padding-left: 26px;
}

.archive .shareLink {
    width: 53%;
}

.archive .thumbnail {
    width: 100%;
    border-radius: 3px 3px 0px 0px;
}

.archive .postContent p {
    padding-left: 0%;
}

/* end archive page */



/* sidebar */

.widgetTitle {
    border-bottom: 1px solid #eeeeee;
    color: #737373;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
}

.groupItem {
    padding-left: 0%;
}

.groupItem li {
    list-style: none;
    padding-bottom: 7px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
    color: #aaaaaa;
    text-transform: capitalize;
}

.groupItem li i {

    margin-left: 0%;
    margin-right: 10px;
}

.groupItem li a {
    font-size: 13px;
    color: #aaaaaa;
}

.groupItem li a:hover {
    color: #007bff;
    text-decoration: none;
}

.tagItem {
    padding-left: 0%;
    color: #aaaaaa;
}

.tagItem li a {
    color: #aaaaaa;
}

.tagItem li:hover {
    border: 1px solid #007bff;
    transition: all 0.2s ease-in-out;
}

.tagItem li a:hover {
    color: #007bff;
    text-decoration: none;
}

.tagItem li {
    list-style: none;
    display: inline-block;
    margin: 5px;
    padding: 5px 12px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    font-size: 13px;
    /* border-radius: .25rem; */

}

/* about me */
.lineLeft {
    position: relative;
    text-align: center
}

.lineLeft:before {
    content: "";
    display: block;
    border-top: solid 1px #bebebe;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    z-index: 0;
}

.lineLeft span {
    background: #fff;
    padding: 0 10px;
    position: relative;
    z-index: 1;
}

.aboutMe p {
    text-align: justify;
}

.authorPicture {
    border-radius: 3px 3px 0 0;
    width: 100%;
    border-bottom: 2px solid #ddd;
}

.socialLink {
    text-align: center;
    font-size: 14px;
}

.socialLink a {
    width: 26px;
    padding: 3px;
    height: 24px;
    background: #007bff;
    border-radius: 4px;
    display: inline-block;
}

.socialLink a:hover {
    color: #fff;
    background: #ff4a14;
    transition: all 0.2s ease-in-out;

}

.socialLink a i {
    color: #fff;

}



.postImg64 {
    width: 72px;
    height: 62px;
    border: 1px solid #ddd;
    padding: 2px;
    /* border-radius: 5px; */
    margin-right: 10px;
}

.latestPostTitle a {
    display: flex;
    /* line-height: 24px; */
    text-align: left;

}

.views {
    font-size: 13px;
    padding-left: 15px;
    display: block;
}

.centerViews {
    display: block !important;
    text-align: center !important;
}


.userAvatar {
    width: 45px;
    height: 45px;
    border: 1px solid #ddd;
    padding: 2px;
    /* border-radius: 5px; */
    margin-right: 10px;
}

.latestComments a {
    display: flex;
    line-height: 24px;
    text-align: left;

}

.userName,
.comment {
    display: contents;

}
.bannerImg{
    max-width: 100%;
    border: 1px solid #ddd;
    padding: 2px;
}


/* end sidebar */





/* single post */
.singlePost {
    margin-top: 1.5rem !important;
}

.singlePost .publishDate {
    float: none;
    display: block;
    text-align: right;
}

.singlePost img, .category img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    /* padding-left: 25px; */
    padding-bottom: 10px;
    height: auto;
}

.thumbnail {
    border-radius: .25rem .25rem 0 0;
}

.tags ul{
    margin-left: 0;
    padding-left: 25px;
}
.tags ul li, .count ul li{
    display: inline;
    padding-right: 4px;
}
.tags .fa-tags{
    font-size: 12px;
}

.count{
    float: left;
}
.tags a, .count a{
    color: #9a9a9a;
}
.tags a:hover, .count a:hover{
    text-decoration: none;
}

.count ul{
    padding-left: 25px;
}
/* end single post */





/* footer */
footer {
    background: #fff;
    padding: 12px 0px;
    box-shadow: 0 -0.125rem .25rem rgba(0, 0, 0, .075) !important;
    margin-top: 44px;
}

.footer .col-md-6 {
    padding: 10px 0;
}

.goTop ul li {
    display: inline-block;
    float: right;
    padding: 0 3px;
    font-size: 20px;
}

.goTop ul {
    margin-bottom: 0;
    padding: 10px;
    text-align: right;
}

.goTop a {
    color: #686868;
    font-size: 23px;
}

footer p {
    text-align: left;
    color: #989898;
    padding: 10px;
    margin: 0%;
}

.moveTop {
    color: #007bff !important;
    border: #007bff 1px solid;
    padding: 1px 6px;
    padding-top: 4px;
    margin-left: 20px;
    border-radius: 4px;
}

#backTop {
    position: fixed;
    width: 42px;
    height: 42px;
    right: 10px;
    bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
    background: #007bff;
    display: none;

}

#backTop i {
    position: absolute;
    top: 23%;
    left: 23%;
    font-size: 24px;
    color: #fff;

}


/* end footer */


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width : 320px) {
     .shareLink{
        width: 100% !important;
    }
     .author{
        width: 100% !important;
    }
    .commentBody.respons{
        margin-left: 0%;
    }
    #ChangeToggle{
        display: none;
    }
    .dropdown-menu{
        box-shadow: none;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    /* Styles */
    .social h4 {
        padding-left: 20px;
    }

    .shareLink {
        width: 52%;
    }

    .postDetails {
        width: 100%;
    }

    .postDetails .postTitle {
        text-align: center;
    }

    .postContent {
        width: 100%;
    }

    .postContent p,
    .postContentTypeOne p {
        padding-left: 0%;
    }

    footer p {
        text-align: center;
    }

    .goTop ul {
        text-align: center;
    }

    .goTop ul li {
        float: none;
    }

    .main-content {
        margin-top: 70px;
    }
    .fullWidth .postDetailsTypeOne{
        width: 100% !important;
    }
    .fullWidth .author{
        padding-right: 0%;
    }
    .fullWidth .shareLink{
        width: 53%;
    }
    .fullWidth .postDetailsTypeOne .postTitle{
        text-align: center !important;
    }
    .commentBody.respons{
        margin-left: 0%;
    }
    #ChangeToggle{
        display: none;
    }
    .dropdown-menu{
        box-shadow: none;
    }
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1023.9px) {

    /* Styles */
    .col-md-8,
    .col-md-4 {
        max-width: 100%;
        flex: none;
    }

    #headerAbout {
        padding-left: 20px;
    }

    #headerAbout p {
        text-align: justify;
    }
    #ChangeToggle{
        display: none;
    }
    .dropdown-menu{
        box-shadow: none;
    }

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

    /* Styles */
    .social h4 {
        padding-left: 66px;
    }

    .double .social h4 {
        width: 100%;
    }

    .socialLink a {
        width: 24px;
    }

    #backTop {
        bottom: 70px;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */

    .social h4 {
        padding-left: 63px;
    }

    .double .social h4 {
        padding-left: 20px;
        font-size: 13px;
    }

    .socialLink a {
        width: 24px;
        margin-bottom: 10px;
    }
}