a {
    color: #41d6c3;
}

.sidebar .input-group-append .do-search {
    background: #41d6c3;
    border-color: #41d6c3;
}

.posts-content-type-one .read-more {
    color: #41d6c3;

}

.posts-content .read-more {
    color: #41d6c3;
}

.tags i, .count i{
    color: #41d6c3;
}

.groupItem li a:hover {
    color: #41d6c3;
}

.tagItem li:hover {
    border: 1px solid #41d6c3;
}

.tagItem li a:hover {
    color: #41d6c3;
}

.social-link a {
    background: #41d6c3;

}

.move-top {
    color: #41d6c3 !important;
    border-color: #41d6c3 1px solid;
}

#back-top {
    background: #41d6c3;
}

.go-top a {
    color: #41d6c3;
}

.page-item.active .page-link {
    background-color: #41d6c3;
    border-color: #41d6c3;
}

.page-link {
    color: #41d6c3;
}

/* hover color */
a:hover {
    color: #ff4a14;
}

.posts-content-type-one .read-more:hover {
    color: #ff4a14;
}

.posts-content .read-more:hover {
    color: #ff4a14;
}

.cmt-btn:hover {
    border-color: #ff4a14;
}

.groupItem li a:hover {
    color: #ff4a14;
}

.tagItem li:hover {
    border: 1px solid #ff4a14;
}

.tagItem li a:hover {
    color: #ff4a14;
}

.social-link a:hover {
    background: #ff4a14;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #41d6c347;
}

.headerBg {
    background: #00a893 !important;
}